@page "/"
@using System.Text.Json
@using Calender.Models
@inject HttpClient Http

<PageTitle>Monthly Holidays</PageTitle>

<h1>Holidays and Observances</h1>
<p>Select a month to plan!</p>


@if (monthsData != null)
{

    @if (monthsData.ContainsKey(selectedMonth))
    {
        <h2>@monthsData[selectedMonth].month_name</h2>
        <p>@monthsData[selectedMonth].summary</p>

        <h3>Timeline</h3>
        <ul>

            @for (int day = monthsData[selectedMonth].starting_day; day <= monthsData[selectedMonth].ending_day; day++)
            {
                string extra = "";
                @if (monthsData[selectedMonth].holidays.ContainsKey(day)){
                    extra = " - " + @monthsData[selectedMonth].holidays[day];
                }
                <li onclick="showModal()">
                    <time datetime="@day">@day</time>@extra
                </li>
            }
        </ul>
    }
}


@code {
    Dictionary<string, Month> monthsData;
    private string selectedMonth = getFullName(Convert.ToInt32(DateTime.Now.ToString("MM")));

    private Month[]? months;

    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine(DateTime.Now.ToString("MM"));

        string name = getFullName(Convert.ToInt32(DateTime.Now.ToString("MM")));

        string jsonString  = await Http.GetStringAsync("localdata/months.json");

        monthsData = JsonSerializer.Deserialize<Dictionary<string, Month>>(jsonString);
    }

    // function to get the full month name
    static string getFullName(int month)
    {
        DateTime date = new DateTime(2020, month, 1);

        return date.ToString("MMMM");
    }

}
